.container {
    margin-top: 50px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
}

.outer-container {
    display: flex;
    align-items: center;
    background-color: #fff;
    flex-direction: column;
}

.add-product-button {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #00cc00;
    border: 0;
    padding: 10px;
    border-radius: 6px;
    color: #fff;
}

.edit-dialog {
    background-color: #e9e9e9;
    padding: 25px;
    width: 50%;
    height: 60%;
}

.create-dialog {
    background-color: #e9e9e9;
    padding: 25px;
    width: 50%;
    height: 60%;
}

.delete-dialog {
    background-color: #e9e9e9;
    padding: 25px;
    width: 50%;
    height: 20%;
}

.yes-button {
    background-color: #002a7c;
    border: 0;
    padding: 10px;
    border-radius: 6px;
    color: #fff;
}

.no-button {
    background-color: #e9e9e9;
    border: 0;
    padding: 10px;
    border-radius: 6px;
    color: #002a7c;
}

.list-header {
    display: flex;
    justify-content: space-between;
    gap: 200px;
    width: 100%;
    padding: 10px;
    font-weight: bold;
    margin-top: 10px;
}

.header-column {
    flex: 1;
    text-align: center;
}

.product-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.product-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    height: auto;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}

.p-dialog-mask {
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro */
    pointer-events: auto; /* Garante que interações sejam bloqueadas */
  }