.home-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style-type: none;
}

.dashboard-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
}