.home-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style-type: none;
}


//-------------------------------------------
.dashboard-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;
    list-style-type: none;
    padding: 0;
}


ul.dashboard-list {
    margin: 0;
    list-style-type: none;
}

.dashboard-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    width: 100%;
}

.dashboard-list button {
    border: none;
    border-radius: 10px;
    aspect-ratio: 1;
    height: 40px;
    padding: 10px;
}

.dashboard-list button:hover {
    cursor: pointer;
}

.dashboard-list section {
    margin-left: 20px;
    display: flex;
    gap: 3px;
}