.outer-container {
    margin-top: 50px;
}

.container h1 {
    margin-bottom: 0;
}

.line {
    width: 5%;
    height: 3px;
    background-color: #002a7c;
    margin-top: 10px;
    margin-bottom: 10px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.outer-container {
    display: flex;
    align-items: center;
    background-color: #fff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
}

.banner {
    margin-top: 5px;
    width: 100%;
}