.product-container {
    border: 1px solid black;
    height: 200px;
    width: 250px;
    padding: 30px;
    display: flex;
    flex-direction: column  ;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style-type: none;
}